body {
  align-items: center;
  background: #000;
  display: flex;
  perspective: 500px;
  transform: translateY(-32px);
  justify-content: center;
}

.canvas {
  background: #004;
  height: auto;
  transform: rotateX(26deg) translateY(-60px);
  transition: transform 4s;
  width: 100%;
}

.hidden {
  display: none;
}
